@font-face {
    font-family: "myFont";
    src:
      url("fonts/YouSheBiaoTiYuan.woff2") format("woff2"),
      url("fonts/YouSheBiaoTiYuan.woff") format("woff"),
      url("fonts/YouSheBiaoTiYuan.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "myFont";
    font-style: normal;
    background-color: rgb(181, 223, 252);
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    border: 0px;
}

.back {
    width: 10%;
    position: absolute;
    top: 7%;
    left: 10%;
}

h1 {
    text-shadow: 6px 7px 20px  rgba(0, 0, 0, 0.27);
    /* border: 1px solid rgba(255, 255, 255, 1); */
    font-size: 3.4em;
    opacity: 1;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top:33%;

    -webkit-text-stroke: 0.3px rgb(255, 255, 255); /* 文字周围的轮廓，参数为宽度和颜色 */
}

.uploadAvatarDiv {
    margin: auto;
    text-align: center;
}

.uploadAvatarInput {
    display: none;
}

.avatarInformation {
    margin: 5% auto;
}

.uploadAvatar {
    margin: auto;
    width: 80%;
    text-align: center;
}

.avatarShow {
    margin: auto;
    display: inline;
    border-radius: 100%;
}

#preview-container {
    text-align: center;
}

/* 取消默认的按钮样式 */
button {
    all: unset; /* 移除所有继承和默认样式 */
    text-align: center;
    display: block;
    width: 100%;
}

.cutTipImg {
    margin: auto;
    width: 30%;
}

.cutTip {
    margin: 3% auto;
    display: block;
    font-size: 2em;
}

.reload {
    background: rgba(241, 207, 81, 1);
    width: 70%;
    opacity: 1;
    border-radius: 31.23px;
    border: 0px;
    margin: auto;
    margin-top: 10%;
    display: block;
    /** 文本1 */
    font-size: 1.4em;
    font-weight: 400;
    font-family: "myFont";
    line-height: 200%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.reloadImg {
    margin: auto;
    width: 20%;
    margin-bottom: -5%;
    margin-right: -5%;
}

.reloadTip {
    line-height: 200%;
    font-size: 1.4em;
}

.upload {
    background: rgba(249, 137, 136, 1);
    width: 70%;
    opacity: 1;
    border-radius: 31.23px;
    border: 0px;
    margin: auto;
    margin-top: 10%;
    display: block;
    /** 文本1 */
    font-size: 1.4em;
    font-weight: 400;
    font-family: "myFont";
    line-height: 200%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.uploadImg {
    margin: auto;
    width: 20%;
    margin-bottom: -5%;
    margin-right: -5%;
}

.uploadTip {
    line-height: 200%;
    font-size: 1.4em;
}

button:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}