@font-face {
    font-family: "myFont";
    src:
      url("fonts/YouSheBiaoTiYuan.woff2") format("woff2"),
      url("fonts/YouSheBiaoTiYuan.woff") format("woff"),
      url("fonts/YouSheBiaoTiYuan.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "myFont";
    font-style: normal;
    background-color: rgb(181, 223, 252);
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    border: 0px;
}

header {
    margin-top: 2%;
}

.avatar {
    width: 5.4em;
    height: 5.4em;
    border-radius: 100%;
    position: absolute;
    left: 1.9em;
    top: 2.4em;
}

.welcome {
    margin-left: 4.2em;
    margin-top: 1.7em;
    font-size: 1.9em;
}

.time {
    font-size: 1.2em;
    margin-left: 6.7em;
    margin-top: 0em;
}

.back {
    width: 10%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.container {
    margin: 8% auto;
    text-align: center;
    background: rgba(249, 137, 136, 1);
    border-radius: 30px;
    width: 75%;
    height: 25em;
    padding: 3%;
}

.courseTitle {
    margin-top: 1%;
    font-size: 2.2em;
    color: #ffffff;
    text-align: left;
}

.courseContent {
    background: rgba(255, 255, 255, 0.66);
    color: #000;
    border-radius: 20px;
    padding: 6%;
    margin-top: 4%;
    width: 80%;
    height: 72%;
    text-align: justify;
    font-family: arial;
    font-size: 1.1em;
    line-height: 150%;
    white-space: pre-wrap; /* 保留空格和换行 */
    border: 0ch;
}

.courseContent:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

button {
    all: unset;
    display: block;
}

.submit {
    background: rgba(94, 161, 213, 1);
    margin: 9% auto;
    border-radius: 30px;
    width: 50%;
    line-height: 200%;
    color:#ffffff;
    font-size: 1.6em;
    text-align: center;
}

.submit:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
