@font-face {
    font-family: "myFont";
    src:
      url("fonts/YouSheBiaoTiYuan.woff2") format("woff2"),
      url("fonts/YouSheBiaoTiYuan.woff") format("woff"),
      url("fonts/YouSheBiaoTiYuan.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "myFont";
    font-style: normal;
    background-color: rgb(181, 223, 252);
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    border: 0px;
}

header {
    margin-top: 2%;
}

.avatar {
    width: 5.4em;
    height: 5.4em;
    border-radius: 100%;
    position: absolute;
    left: 1.9em;
    top: 2.4em;
}

.welcome {
    margin-left: 4.2em;
    margin-top: 1.7em;
    font-size: 1.9em;
}

.time {
    font-size: 1.2em;
    margin-left: 6.7em;
    margin-top: 0em;
}

.back {
    width: 10%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.container {
    margin: 8% auto;
    text-align: center;
    background: rgba(241, 207, 81, 1);
    border-radius: 30px;
    width: 75%;
    padding: 3%;
    margin-bottom: 5%;
}

.courseTitle {
    margin-top: 1%;
    font-size: 2.2em;
    color: #ffffff;
    text-align: center;
}

.courseContent {
    background: rgba(255, 255, 255, 0.66);
    color: #000;
    border-radius: 30px;
    padding: 6%;
    margin-top: 4%;
    max-height: 50%;
    text-align:justify;
    font-family: arial;
    font-size: 1.1em;
    line-height: 150%;
    white-space: pre-wrap; /* 保留空格和换行 */
}

button {
    all: unset;
}

.audio {
    margin: 3% 0%;
    margin-bottom: 6%;
}

.recordingTip {
    width: 30%;
    margin-left: 10%;
}

.audioTip {
    display: none;
}

.uploadAudioTip {
    width: 30%;
    margin-left: 15%;
}

.controls {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 4%;
    text-align: right;
}

.control-button {
    cursor: pointer;
    display: inline;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.8em;
    background: rgba(255, 255, 255, 0.824);
    border-radius: 20px;
    padding: 1%;
}

#stop-recording {
    background: rgba(255, 255, 255, 0.4);
}

#upload {
    background: rgba(255, 255, 255, 0.4);
}

/* 
.control-button:hover {
    background: rgba(249, 137, 136, 1);
}

.control-button:active {
    background: rgba(249, 137, 136, 1);
}

.control-button:focus {
    background: rgba(249, 137, 136, 1);

}

.control-button:disabled {
    background: rgba(255, 255, 255, 0.4);
    
}

.control-button:disabled:hover {
    background: rgba(249, 137, 136, 1);
}

.control-button:disabled:active {
    background: rgba(249, 137, 136, 1);
}

.control-button:disabled:focus {
    background: rgba(249, 137, 136, 1);
} */

#record-status {
    margin-left: 5%;
    margin-top: 10px;
    font-size: 1.5em;
}

.progress {
    background: rgba(255, 255, 255, 0.824);
    width: 80%;
    height: 20%;
    border-radius: 30px;
    margin: 1% auto;
    padding: 6% 4%;
    padding-bottom: 3%;
    text-align: right;
}

#progress-container {
    margin-left: 5%;
    width: 80%;
    background-color: #adabab;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 1%;
}

#progress-bar {
    width: 0%;
    height: 10px;
    background-color: #4d4f4d;
}

#progress-time {
    margin-right: 3%;
    font-size: 1.2em;
    margin-top: 1%;
}

#audio-playback {
    margin: 3% auto;
    margin-left: 7%;
    display: none;
}